@font-face {font-family: "華數碼"; src: url("筭數.woff2") format("woff2"), url("筭數.woff") format("woff")}
.筭籌容器 {/* 二選一：*/ font-feature-settings: "ss01"/* 縱起 */; font-feature-settings: "ss02"/* 橫起 */;
font-kerning: normal;
/*〥之籌碼，用後起之「五加〇」式，即：縱式爲一橫下加一〇，橫式爲一縱下加一〇。欲用傳統五畫（𝍤、𝍭）者，施 font-variation-settings: "hist" 1*/}
.花碼容器 {font-family: 華數碼; font-variant-ligatures: contextual; font-variation-settings: "wdth" 30; font-stretch:30%; writing-mode:horizontal-tb; line-height:1; height:1em; letter-spacing:0; word-break:keep-all}
.一位數 {font-variant-east-asian:full-width}
